/* Styles for Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    min-height: 100px;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: #EEE;

    .some-icons {
        padding: 20px;
        i {
            font-size: 2rem;
            padding: 10px;
        }
    }

    .photocredit, .copyright {
        padding: 25px;
        line-height: 1.8rem;

        h5 {
            font-family: inherit;
            font-weight: 500;
        }

        ul li {
            list-style-type: none;
        }
    }

    // .photocredit {
    //     border: 2px solid #EEE;
    // }

    // .copyright {
    //     padding: 25px;
    // }
}
