.lander {
    height: 100vh;
    background-image: url('https://instagram.fqlf1-1.fna.fbcdn.net/t51.2885-15/e35/19436313_1548813541815912_8264459887249981440_n.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

    h1 {
        position: absolute;
        top: 50vh;
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
        text-shadow: 0 0 10px black;
    }

    h2 {
        position: absolute;
        top: 70vh;
        font-size: 1.6rem;
        font-weight: 300;
        color: white;
        text-shadow: 0 0 10px black;
    }
}
