$text-shadow-color: #333;

.lander {
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .carousel {
        height: 100%;
        width: 300vw;
        background-color: #111;

        &.animated {
            animation: carousel 30s linear infinite;
        }

        .carousel-pic {
            height: 100vh;
            width: 100vw;
            display: inline-block;
            background-size: cover;

            &.opaque {
                animation: fadein 1s linear;
            }

            &.pic1 {
                background-position: center;
            }

            &.pic2 {
                background-position: right;
            }

            &.pic3 {
                background-position: left;
            }
        }
    }

    @keyframes carousel {
        0% { transform: translateX(0vw); }
        31% { transform: translateX(0vw); }
        32% { transform: translateX(-100vw); }
        65% { transform: translateX(-100vw); }
        66% { transform: translateX(-200vw); }
        99% { transform: translateX(-200vw); }
        100% { transform: translateX(0vw); }
    }

    @keyframes fadein {
        0% { opacity: 0 };
        50% { opacity: 0 };
        100% { opacity: 1 };
    }

    .title {
        height: 100%;
        width: 100%;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            top: 45vh;
            font-size: 2.5rem;
            font-weight: bold;
        }

        h2 {
            top: 77vh;
            font-size: 1.6rem;
            font-weight: 300;
        }

        h1, h2 {
            position: absolute;
            color: white;
            text-shadow:     1px    0 1px $text-shadow-color,
                            -1px    0 1px $text-shadow-color,
                               0  1px 1px $text-shadow-color,
                               0 -1px 1px $text-shadow-color;
        }
    }
}
