/* Styles for Music */
.Music {
    padding: 50px 10px 40px;
    width: 100%;
    background-color: rgb(225, 199, 57);
    background-image: url('https://raw.githubusercontent.com/anttispitkanen/homepage-content/master/peekaboo-poetkoe.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    color: #EEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.1rem;

    .music-intro {
        padding: 0 20px;
        margin: 30px 0;
        max-width: 700px;
        text-shadow: 1px 1px 1px black;
        font-weight: 600;

        h2 {
            font-family: 'Shrikhand', cursive;
            font-size: 3rem;
            text-align: center;
            margin-bottom: 30px;
            font-weight: 100;
        }
    }

    .youtube-embed {
        iframe {
            box-shadow: 0px 5px 10px 0px #222;
            height: 100%;
            width: 100%;
        }
    }

    .music {
        padding: 0 20px;
        margin: 30px 0;
        max-width: 700px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;

        h3 {
            font-family: 'Shrikhand', cursive;
            font-size: 1.6rem;
            padding-top: 20px;
            margin-bottom: 10px;
            font-weight: 100;
        }

        p {
            margin-bottom: 20px;
            padding-left: 20px;
            font-family: 'Raleway', sans-serif;

            a {
                font-family: 'Raleway', sans-serif;
            }
        }
    }
}
